@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    :root {
        --font-sans: "Roboto";
        --font-title: "League Spartan";

        --background: 226 43% 99%;
        --foreground: 226 52% 0%;

        --muted: 46 24% 90%;
        --muted-foreground: 46 3% 34%;

        --popover: 226 43% 99%;
        --popover-foreground: 226 52% 0%;

        --card: 226 43% 98%;
        --card-foreground: 0 0% 0%;

        --border: 226 12% 94%;
        --input: 226 12% 94%;

        --primary: 226 100% 61%;
        --primary-foreground: 0 0% 100%;

        --secondary: 52.47 98.35% 47.65%;
        --secondary-foreground: 46 100% 1%;

        --accent: 22.64 100% 61%;
        --accent-foreground: 46 100% 1%;

        --destructive: 2 97% 40%;
        --destructive-foreground: 0 0% 100%;

        --ring: 226 100% 61%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 228 14.29% 6.86%;
        --foreground: 226 25% 98%;

        --muted: 46 24% 10%;
        --muted-foreground: 206.04 5.28% 64.27%;

        --popover: 222.86 14.29% 9.61%;
        --popover-foreground: 226 25% 98%;

        --card: 222.86 14.29% 9.61%;
        --card-foreground: 226 25% 99%;

        --border: 226 12% 13%;
        --input: 226 12% 13%;

        --primary: 226 100% 61%;
        --primary-foreground: 0 0% 100%;

        --secondary: 46 100% 61%;
        --secondary-foreground: 222.86 14.29% 9.61%;

        --accent: 22.61 100% 60.98%;
        --accent-foreground: 222.86 14.29% 9.61%;

        --destructive: 2 97% 52%;
        --destructive-foreground: 0 0% 100%;

        --ring: 226 100% 61%;

        --radius: 0.5rem;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        @apply font-sans;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-title;
    }
}
